
.additional-info table {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.additional-info th {
    padding: 5px;
    color: darkgrey;
}

.additional-info td {
    padding: 5px;
}
 
.additional-info tr {
    min-width: 130px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
