
.app {
    height: 700px;
    width: 900px;
    padding: 5px;

    display: flex;
    flex-direction: row;

    border: 1px dashed grey;
    border-radius: 10px;
    color: #34495e;
}

.side-bar {
    width: 300px;
    padding: 5px;

    display: flex;
    flex-direction: column;

    background-color: whitesmoke;

    border-radius: 5px;
}

.side-bar-spacer {
    margin: 5px;

    border-bottom: 1px solid lightgrey;
}

.search {
    height: 50px;
}

.search-results {
    overflow-y: scroll;
}

.app-name {
    margin: 5px;
    padding: 10px;
    color: lightgrey;
}

.side-bar-bottom {
    margin-top: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.main-content-top {
    padding: 5px;
}

.main-content-top-spacer {
    height: 40px;
    margin: 5px;

    border-bottom: 1px solid whitesmoke;
}

.main-content-top-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content-bottom {
    padding: 5px;
}

.news-articles {
    max-height: 200px;
    overflow-y: scroll;
}

.news-articles ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.component {
    margin: 5px;
    padding: 10px;
    /* border: 1px dashed blueviolet;
    border-radius: 5px; */
}

ul {
    list-style-type: none;
}

button {
    color: inherit;
}
