
.app {
    padding: 5px;
    border: 1px dashed grey;
    border-radius: 10px;

    display: flex;
    flex-direction: row;

    height: 700px;
}

.side-bar {
    width: 300px;
    padding: 5px;

    display: flex;
    flex-direction: column;

    background-color: whitesmoke;

    border-radius: 5px;
}

.side-bar-spacer {
    margin: 5px;

    border-bottom: 1px solid lightgrey;
}

.search {
    height: 50px;
}

.search-results {
    overflow-y: scroll;
}

.app-name {
    margin: 5px;
    padding: 10px;
    color: lightgrey;
}

.side-bar-bottom {
    margin-top: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content {
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.main-content-top {
    padding: 5px;
}

.main-content-top-spacer {
    height: 40px;
    margin: 5px;

    border-bottom: 1px solid whitesmoke;
}

.main-content-top-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content-bottom {
    padding: 5px;
}

.news {
    height: 100px;
}

.component {
    margin: 5px;
    padding: 10px;
    /* border: 1px dashed grey;
    border-radius: 5px;
    background: radial-gradient(circle at 10% 20%, rgba(216, 241, 230, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%); */
}

ul {
    list-style-type: none;
}
