
.stock-info h2 {
    padding: 5px;
    font-weight: bold;
}

.stock-info h3 {
    padding: 5px;
    color: darkgrey;
}

.stock-info-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    font-size: smaller;
    white-space: nowrap;
    overflow: hidden;
}

.stock-info-metadata {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.stock-info-metadata h3 {
    font-size: medium;
}

.stock-info-metadata h4 {
    font-size: xx-small;
    color: darkgrey;  
}
