
.stock-info {
    width: 400px;
}

.stock-info h2 {
    padding: 5px;
    color: black;
    font-weight: bold;
}

.stock-info h3 {
    padding: 5px;
    color: darkgrey;
}

.stock-info-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.stock-info-metadata {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
