
.search-result * {
    pointer-events: none;
}

.search-result button {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: none;
    border-radius: 5px 5px 0px 0px;
    background: none;
    padding: 5px;
    border-bottom: 1px solid lightgrey;

    pointer-events: all;
}

.search-result button:hover {
    cursor: pointer;
    background-color: white;
}

.search-result-top {
    display: flex;
    flex-direction: row;
}

.search-result-symbol {
    font-weight: bold;
}

.search-result-currency {
    margin-left: 5px;
    color: darkgrey;
}

.search-result-name {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;

    font-size: small;
    color: darkgrey;
}

.search-result-price {
    font-weight: bold;
    text-align: end;
}

.search-result-delta {
    padding-right: 3px;

    color: white;
    border-radius: 5px;
    text-align: end;
}

.search-result-delta-positive {
    background-color: lightgreen;
}

.search-result-delta-negative {
    background-color: red;
}
