
.stock-price {
    width: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stock-price h3 {
    padding-right: 5px;
}

.stock-price-current {
    font-weight: bold;
}

.stock-price-delta-positive {
    color: lightgreen;
}

.stock-price-delta-negative {
    color: red;
}
