
.stock-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.stock-price-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stock-price-current {
    font-weight: bold;
}

.stock-price-delta {
    margin-left: 5px;
}

.stock-price-delta-positive {
    color: lightgreen;
}

.stock-price-delta-negative {
    color: red;
}

.stock-price-source {
    font-weight: bold;
    color: darkgrey;
}
